<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net472" />
  <package id="MySql.Data" version="9.1.0" targetFramework="net472" />
  <package id="PDFsharp-WPF" version="6.1.1" targetFramework="net472" />
  <package id="PdfSharp-Wpf.Core" version="1.51.5185" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net472" />
</packages>